<div class="home-index">
	<%= render 'post' %>
	<% if user_signed_in? %>
	<div class="index-users">
		<div class="home-index-user">
			<div class="index-user-div">
				<% if @my_account.avatar.attached? %>
		              <div><%= image_tag @my_account.avatar, class: 'index-avatar' %></div>
		              <div class="index-username-div"><%=link_to @my_account.username, user_path(@my_account), class: "index-username" %></div>
		        <% end %>
	        </div>
		    <div class="index-user-edit">
		    	<div class="index-user-btns"><%=link_to "Edit", edit_user_path(@my_account), class: "index-user-edit" %></div>
		    </div>
        </div>
        <p>Suggestions for you</p>
		<% @user.each do |user| %>
			<% if user != current_user %>
			<div class="home-index-user">
				<div class="index-user-div1">
					<% if user.avatar.attached? %>
		              <div><%= image_tag user.avatar, class: 'index-avatar' %></div>
		              <div class="index-username-div"><%=link_to user.username, user_path(user), class: "index-username" %></div>
		            <% end %>
	            </div>
	        	<div class="index-follow">
			        <% if current_user != @user && user_signed_in? %>
				        <% if current_user.followees.include?(user) %>
				            <h5><%= button_to "Unfollow", unfollow_user_path(user), method: "POST", class: "index-follow" %></h5>
				        <% else %>
				            <h5><%= button_to "Follow", follow_user_path(user), method: "POST", class: "index-follow" %></h5>
				        <% end %>
			        <% end %>
		        </div>
			</div>
			<% end %>
		<% end %>
	</div>
	<% end %>
</div>

