<div class="index-posts">
	<% @posts.each do |post| %>
	<div class="index-post">
		<div class="home-avatar">
			<% if post.user.avatar.attached? %>
              <div><%= image_tag post.user.avatar, class: 'index-avatar' %></div>
              <div class="index-username-div"><%=link_to post.user.username, user_path(post.user), class: "index-username" %></div>
            <% end %>
		</div>
		<a href="<%= post_path(post) %>"><%= image_tag post.image, class: "img" %></a>
		<div class="index-post-icons">
			<div><strong><%= post.title %></strong></div>
		    <div><a href="#"><i class="fa-sharp fa-solid fa-thumbs-up fa-2x"></i></a></div>
		</div>
<!-- 		<div class="index-post-icons">
		  <a href="#"><i class="fa-sharp fa-solid fa-thumbs-up fa-2x"></i></a>
        </div> -->
	      <div class="index-delete-div">
	        <%= link_to "Edit", edit_post_path(post), class: "index-delete" %>
	        <%= time_ago_in_words(post.created_at) %> ago
	      	<%= link_to "Delete", post, data: {turbo_method: :delete}, class: "index-delete" %>
	      </div>
	</div>	
    <% end %>
</div>

