<div class="show-post">

	<div class="div1">
		<%= image_tag @post.image, class: "show-post-img" %>
	</div>

	<div class="div2">
		<div class="div21">
			<% if @post.user.avatar.attached? %>
              <div><%= image_tag @post.user.avatar, class: 'show-post-avatar' %></div>
              <div class="show-post-username-div"><%=link_to @post.user.username, user_path(@post.user), class: "show-post-username" %></div>
            <% end %>
		</div>
		<div class="div22">
			<p>"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish</p>
		</div>
	    <div class="comment">
          <% @post.comments.each do |comment| %>
            <%= image_tag comment.user.avatar, class: "comments-avatar" %>
            <b><%= comment.user.username%></b>
              <%= comment.body %>
	        <p class="comment-time">
	          <%= time_ago_in_words(comment.created_at) %>
	          <% if comment.user == current_user %>
	            <%= link_to "delete", [comment.post, comment] , data: {turbo_method: :delete} , class: "comment-time" %>
	          <% end %>
	        </p>
          <% end %>
        </div>
		<div class="show-comment-form "> 
        <%= form_with(model: [@post, @post.comments.build]) do |f| %>
		    <%= f.text_field :body, class: "body", placeholder: "Add a comment..." %>
		    <%= f.submit "Post", class: "btn" %>
		  <% end %>
		</div>
   	</div>

</div>